adjustText
beautifulsoup4
bertopic
fuzzywuzzy
gensim
hdbscan
ipykernel
litellm
matplotlib
matplotx
networkx
nltk
numpy
numpy-stl
pandas
pdfminer.six
pdfplumber
Pillow
plotly
pydantic>=1.10,<2.8
pymupdf
PyPDF2
pytesseract
rapidfuzz
requests
scikit-learn
scipy
seaborn
selenium
spacy>=3.7.4
striprtf
tqdm
transformers
ttconv
umap-learn
urllib3
wordcloud
